.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;

    .top-footer-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .top-footer-left {
            width: 50%;

            .thx {
                
            }
        }

        .top-footer-right {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            gap: 33px;

            .send-me-location {
                display: flex;
                flex-direction: column;
                padding: 15px;
                font-size: 13px;
        
                .contact-line {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: left;
        
                    .contact-line-icon {
                        margin-right: 6px;
                    }
                }
            }

        }
    }

    .bot-footer-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .footer-nav {
            width: 50%;

            .footer-word {
                padding: 4px;
                margin: 0 22px;
                cursor: pointer;

                &:hover {
                    color: white;
                    border-bottom: 2px solid white;
                }
            }
        }

        .contact-icons-wrap {
            width: 50%;
            display: flex;
            justify-content: center;
        }
        
    }
}

@media only screen and (min-width: 1200px) {
    .footer-container {
        max-width: 1500px;
    }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 768px) {
    .footer-container {
        min-width: 768px;
    }
}
