.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #06223c;
    border: 1px solid #06223c;

    .top-footer-container {
        display: flex;
        align-items: center;
        gap: 350px;

        .top-footer-left {
            width: 300px;
        }
    }

    .bot-footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 350px;

        .footer-nav {
            width: 300px;

            .footer-word {
                padding: 4px;
                margin: 0 22px;
                cursor: pointer;

                &:hover {
                    color: white;
                    border-bottom: 2px solid white;
                }
            }
        }

        .contact-icons-wrap {
            display: flex;
            justify-content: center;
            width: 370px;
        }

    }
}