.preview-left {
    background-color: #06223c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-width: 320px;
    height: 500px;
    // border: 1px solid white;

    .article {
        display: flex;
        flex-direction: column;
        align-items: center;

        .bigg {
            font-size: 3rem;
        }

        .small {
            font-size: 1.5rem;
        }
    }

    .middle {
        margin: 30px;

        .phrase {
            font-size: 1.5rem;
        }
    }

    .preview-buttons {
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
}