@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,400;1,700&display=swap');

body {
    overflow: hidden;
    font-display: swap;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #001528;
    background-attachment: fixed;
    background-image: url(./animation.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
}