.skills-container {
    min-height: 300px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    width: 100%;

    .already {
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #e9d5a1;

        .basic-skills {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            justify-items: center;

            .skill-container {
                background-color: #eacd85;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100px;
                width: 100px;
                margin: 10px;
                border-radius: 30px;
        
                .git-container {
                    display: flex;
                    align-items: center;
                    background-color: white;
                    border-radius: 15px;
                }
            }
        }
    }

    .in-scope {
        width: 30%;
        display: flex;
        flex-direction: column;

        .process-skills {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            .skill-container {
                background-color: #eacd85;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100px;
                width: 100px;
                margin: 10px;
                border-radius: 30px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .skills-container {
        max-width: 1500px;
    }
}

@media only screen and (max-width: 1200px) {
    .skills-container {
        flex-direction: column;

        .already {
            width: 80%;
            border-right: inherit;

            .basic-skills {
                display: grid;
                grid-template-columns: repeat(4,1fr);
                justify-items: center;
            
                .skill-container {
                    background-color: #eacd85;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    width: 100px;
                    margin: 10px;
                    border-radius: 30px;
            
                    .git-container {
                        display: flex;
                        align-items: center;
                        background-color: white;
                        border-radius: 15px;
                    }
                }
            }
        }
    
        .in-scope {
            width: 50%;
            border-top: 1px solid #e9d5a1;
        }
    }
}

@media only screen and (max-width: 768px) {
    .skills-container  {
        min-width: 768px;
    }
}