.about-container {
    width: 100%;
    // height: 40vh;
    padding: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e9d5a1;

    img {
        max-width: 300px;
        border-radius: 100px;
        object-fit: contain;
    }

    .about-me {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .about-container {
        max-width: 1500px;
    }
}

@media only screen and (max-width: 1200px) {
    .about-container {
        flex-direction: column;
        padding: 5vh;

        .about-me {
            max-width: 50vh;
        }
    }
}

@media only screen and (max-width: 768px) {
    .about-container {
        min-width: 768px;
    }
}