.contact-icons-container {
    width: 147px;
    height: 100%;
    margin: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .contact-icon {
        width: 23px;
        height: auto;
    }
}