.contact-icons-container {
    width: 200px;
    height: 30px;
    margin: 15px 15px;
    display: flex;
    justify-content: space-between;

    .contact-icon {
        width: 50%;
        height: auto;
    }
}