* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

:root {
    --background: #001528;
    --checker: #7700ff;
    --white: #ffffff;
    --blue: #40578f;
    --font-color: #a9c6d9;
    --light-orange: #e55f3f;
    --light-yellow: #f1a845;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    overflow: hidden;
    font-family: 'Bebas Neue';
    font-style: normal;
    color: white;
    /* background-color: #001528; */
    /* background-attachment: fixed; */
    /* background-image: url(./animation.svg); */
    /* background-repeat: no-repeat; */
    /* background-position: 0 0; */
    /* background-size: cover; */
}

a {
    color: inherit;
    text-decoration: inherit;
}