@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,300;0,400;1,400&family=Tilt+Warp&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

:root {
    --white: #ffffff;
    --blue: #40578f;
    --font-color: #a9c6d9;
    --light-orange: #e55f3f;
    --light-yellow: #f1a845;
}

body {
    /* overflow: hidden; */
    /* font-family: 'Bebas Neue';
    font-style: normal; */
    font-family: 'Bebas Neue', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Tilt Warp', cursive;
    color: white;
    /* background-color: #001528; */
}

a {
    color: inherit;
    text-decoration: inherit;
}