.navbar-container {
    // position: relative;
    background-color: #06223c;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 5px 44px;

    .short-name {
        font-size: 2.4rem;
        font-weight: bolder;
        margin-right: auto;
    }

    button:first-of-type {
        display: none;
    }

    button:last-child {
        margin-left: auto;
    }

    .navbar-center {
        display: flex;
        justify-content: space-around;
        width: 26rem;
    }
}

@media only screen and (max-width: 1068px) {
    .navbar-container {
        min-width: 222px;

        button:first-of-type {
            display: flex;
            order: -1;
        }

        .short-name {
            margin: 0;
        }

        .navbar-center {
            display: none;
        }
    }
}

@media only screen and (max-width: 622px) {
    .navbar-container {

        button:first-of-type {
            width: auto;
        }

        .short-name {
            font-size: 1.7rem;
            font-weight: bolder;
        }
    }
}