.copyright-container {
    // border: 1px solid white;
    width: 150px;
    font-size: small;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
}