.nav-wrapper {
    position: sticky;
    top: 0;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    .img-wrapper{
        height: 100px;
        width: 100px;
        background-image: url("../../Logo/AndyT-logo-white.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 30px;
    }

    .me {
        font-size: 3em;
    }
    
    .menu-wrapper {
        display: flex;
        margin-right: 30px;

        span {
            margin: 1em;
        }
    }
}