* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
};

:root {
  --background:  #001528;
  --checker:  #00192f;
  --white: #ffffff;
  --blue: #40578f;
  --font-color: #a9c6d9;
  --light-orange: #e55f3f;
  --light-yellow: #f1a845;
};

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
};
